#heading {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

#main {
    margin: auto 30%;
    width: 50%;
}

/*[hidden] {*/
/*    display: none !important;*/
/*}*/

/*.hidden{*/
/*    display:none;*/
/*}*/

/*.unhidden{*/
/*    display:block;*/
/*}*/