<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <title>CC Project 2</title>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static//css/style.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
        </style>
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
        <script src = "../static/js/bootstrap.min.js"></script>
        <script src = "../static/js/index.js"></script>
    </head>
    <body>
        <div class="row">
            <div id = "heading" class="col-lg-12">
                <h1>Speaker recognition and Performance Analysis</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul style="text-align: left;">
                    This Web application takes audio file as an input and achieves the following objectives:
                    <li>Recognizes the speaker</li>
                    <li>Generates Performance reports of the identified speaker</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div id = "main"
                 class="col-lg-12">
                <form class="form-inline">

                    <div class="form-group mb-2">
                        <label for="personName"
                               class="sr-only">Name: </label>
                        <input class="form-control"
                               type="text"
                               id="personName"
                               placeholder="Enter you name:">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label class="btn btn-default"
                               style = "margin: auto 45%; width: 10%;">
                            Browse <input type="file" id = "filePicker" hidden>
                        </label>
                    </div>
                    <button type="button"
                            id = "submit"
                            class="btn btn-primary mb-2"
                            onclick="onClick(this)">Submit Request</button>
                </form>
<!--                <button type="button" style = "margin: auto 45%; width: 10%;" id = "downloadReports" class="btn btn-secondary hidden">Download Reports</button>  -->
            </div>
        </div>

        <script type="text/javascript">
            window.onload = () => {
                document.querySelector("#personName").value = "";
            }
            var thefile = document.getElementById('filePicker');
            var fileName = thefile.value;

            if (fileName.substring(3,11) == 'fakepath') {
                fileName = fileName.substring(12);
            }
            function onClick() {
                submitRequest(fileName);
            }
        </script>
    </body>
</html>